body {
	padding: 4rem;

	background: #19101d;

	/* For some reason, my browser injected font-size: 75% */
	font-size: 100% !important;
	font-family: "Roboto Mono", ui-monospace, monospace !important;

	color: #a5acb6;

	transition: background 300ms;
}

body.unfocused {
	background: #1b1b1b;
}

::-webkit-scrollbar {
	display: none;
}

/* Generic styles */

h1,
h2,
h3 {
	color: white;
}

ul > li::before {
	content: "- ";
}

ul > li > a {
	text-decoration: underline;
}

/* ----- Utility styles */

/* Text */

.text-white {
	color: white;
}

.text-right {
	text-align: right;
}

.pre-wrap {
	white-space: pre-wrap;
}

/* Layout */

.flow > * + * {
	margin-top: 1.5rem;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.gap-8 {
	gap: 2rem;
}

.gap-4 {
	gap: 1rem;
}
